Projet 10 - Aurélie CHARAZAC

 <font color='red'>**Détectez des faux billets avec Python : Application de détection.**</font>

In [1]:
# Importation des librairies de calculs.
import pandas as pd
from joblib import load

In [2]:
# Importation du modèle de régression logistique.
model_rl = load('model_rl.joblib')

In [3]:
# Importation des données (Vérification du nom du CSV à ne pas oublier).
billets = pd.read_csv('billets_production.csv') 
billets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   diagonal      5 non-null      float64
 1   height_left   5 non-null      float64
 2   height_right  5 non-null      float64
 3   margin_low    5 non-null      float64
 4   margin_up     5 non-null      float64
 5   length        5 non-null      float64
 6   id            5 non-null      object
dtypes: float64(6), object(1)
memory usage: 408.0+ bytes

In [4]:
# Exploration du df.
billets.head()

   diagonal  height_left  height_right  margin_low  margin_up  length   id
0    171.76       104.01        103.54        5.21       3.30  111.42  A_1
1    171.87       104.17        104.13        6.00       3.31  112.09  A_2
2    172.00       104.58        104.29        4.99       3.39  111.57  A_3
3    172.49       104.55        104.34        4.44       3.03  113.20  A_4
4    171.65       103.63        103.56        3.77       3.16  113.33  A_5

In [5]:
billets_rl = billets[["height_right","margin_low","margin_up","length"]]
billets["prediction"] = model_rl.predict(billets_rl)
billets["probability_true"] = model_rl.predict_proba(billets_rl)[:, 1]*100
billets["probability_false"] = model_rl.predict_proba(billets_rl)[:, 0]*100
billets.head()

,diagonal,height_left,height_right,margin_low,margin_up,length,id,prediction,probability_true,probability_false
0,171.76,104.01,103.54,5.21,3.30,111.42,A_1,False,0.247747,99.752253
1,171.87,104.17,104.13,6.00,3.31,112.09,A_2,False,0.069065,99.930935
2,172.00,104.58,104.29,4.99,3.39,111.57,A_3,False,0.185937,99.814063
3,172.49,104.55,104.34,4.44,3.03,113.20,A_4,True,96.647701,3.352299
4,171.65,103.63,103.56,3.77,3.16,113.33,A_5,True,99.932995,0.067005

In [6]:
for i, k in zip(billets["prediction"],billets["id"]):
    if i == True:
        print("Le billet","{}".format(k),"est vrai.")
    else:
        print("Le billet","{}".format(k),"est faux.")

Le billet A_1 est faux.
Le billet A_2 est faux.
Le billet A_3 est faux.
Le billet A_4 est vrai.
Le billet A_5 est vrai.